


/* -----------問題入力フォーム------------- */




.question_answer-form-box{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}


.title-form-box{
  font-size: 120%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.title-form{
  width: 500px;
  min-height: 60px;
  border-radius: 5px;
  font-size: 105%;
  border: 1px solid green;
}


.question-form-box{
  font-size: 120%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.question-form{
  width: 700px;
  min-height: 180px;
  border-radius: 5px;
  font-size: 105%;
  border: 1px solid red;
}

.question-image-upload-form-box{
  background-color: #e0f7fa;
  width: 700px;
}

.answer-form-box{
  font-size: 120%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.answer-form{
  width: 700px;
  min-height: 180px;
  border-radius: 5px;
  font-size: 105%;
  border: 1px solid blue;
}

.answer-image-upload-form-box{
  background-color: #e8f5e9;
  width: 700px;
}

.study_count-form-submit-box{
  font-size: 110%;
  width: 700px;
  display: flex;
  justify-content: space-between;
}

.study_count-form-box{
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.study_count-form{
  width: 30px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}

.question-answer-submit-box-space{
  color: transparent;
}
.question-answer-submit{
  width: 100px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}



/* ------------Q&Aページ----------------- */


.q-a-top-text-box{
  display: flex;
  align-items: center;
}

.q-a-top-text{
  font-size: 300%;
  font-weight: bold;
  margin-right: 20px;
}

.study-question-answer-box{
  margin-left: 20px;
}



.study-question-answer-title-box{
  margin-top: 20px;
  font-size: 120%;
  font-weight: bold;
}
.study-question-answer-title-text-box{
  width: 500px;
  min-height: 40px;
  border: solid 2px green;
  border-radius: 5px;
  font-size: 90%;
  font-weight: normal;
}

.study-question-answer-question-box{
  margin-top: 20px;
  font-size: 120%;
  font-weight: bold;
}

.study-question-answer-question-text-and-images-box-border{
  border: solid 2px red;
  border-radius: 5px;
  width: 700px;
  min-height: 120px;
  font-weight: normal;
  font-size: 90%;
}

.study-question-answer-question-text-and-images-box{
  width: 700px;
  min-height: 120px;
  font-size: 90%;
  font-weight: 100;
}

.study-question-answer-answer-box{
  margin-top: 40px;
  font-size: 120%;
  font-weight: bold;
}

.study-question-answer-answer-text-and-images-box-border{
  border: solid 2px blue;
  border-radius: 5px;
  width: 700px;
  min-height: 120px;
}

.study-question-answer-answer-text-and-images-box{
  width: 700px;
  min-height: 120px;
  opacity: 0;
  font-size: 90%;
  font-weight: 100;
}
.study-question-answer-answer-text-and-images-box:hover {
  color:black;
  opacity: 1;
}

.study-question-answer-multi-images-box{
  display: flex;
  flex-wrap: wrap;
}

.study-question-answer-image-box{
  max-width: 340px;
}
.study-question-answer-image-box img{
  max-width: 340px;
  border: solid 1px lightblue;
  border-radius: 5px;
}
.study-question-answer-image-box img:hover {
  transform: scale(2);
  transform-origin: left bottom;
}

.question-answer-next-btn{
  width: 700px;
  margin-top: 70px;
  text-align: right;
}

.question-answer-next-submit{
  font-size: 110%;
  border-radius: 5px;
  cursor: pointer;
}