
/* -----------共通--------------- */


a{
  text-decoration: none;
}

p {
  margin-top: 0;
}


.back-link{
  border: solid 1px gray;
  border-radius: 10px;
  display: inline-block;
  padding: 0 10px;
  margin-left: 10px;
  font-weight: bold;
  background-color: gray;
}
.back-link a{
  color: white;
}



/* --------------トップページ---------------- */

.room-create-link{
  border:solid 1px blue;
  border-radius: 10px;
  display: inline-block;
  padding: 0 10px;
  background-color: blue;
  font-weight: bold;
  margin-left: 25px;
}
.room-create-link a{
  color: white;
}

.room-list{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.room-link{
  font-size: 150%;
  margin-left: 10px;
}
.room-link a{
  color:black;
}

.room-edit-link{
  border: solid 1px green;
  border-radius: 10px;
  margin-left: 5px;
  background-color: green;
  font-weight: bold;
  padding: 0 10px;

}
.room-edit-link a{
  color: white;
}

.room-delete-link{
  border: solid 1px red;
  border-radius: 10px;
  margin-left: 5px;
  background-color: red;
  font-weight: bold;
  padding: 0 10px;
}
.room-delete-link a{
  color: white;
}



/* ------------ルームトップページ------------ */


.practice-link-list{
  display: flex;
}

.practice-link{
  border: solid 1px yellowgreen;
  border-radius: 10px;
  margin-left: 10px;
  background-color: yellowgreen;
  font-weight: bold;
  padding: 0 10px;
  color: white;
  text-align: right;
}
.practice-link a{
  color: white;
}


.question-create-link{
  border:solid 1px blue;
  border-radius: 10px;
  display: inline-block;
  padding: 0 10px;
  background-color: blue;
  font-weight: bold;
  margin-left:10px;
}
.question-create-link a{
  color: white;
}


.room-top-question-answer-box{
  display: flex;
  flex-wrap: wrap;
}

.room-top-question-answer{
  width: 120px;
  height: 270px;
  border: solid 2px blue;
  border-radius: 10px;
  margin-left: 15px;
  margin-top: 15px;
  padding-bottom: 4px;
}

.room-top-title{
  height: 20px;
  overflow-y: hidden;
  font-size: 90%;
  font-weight: bold;
}
.room-top-title:hover {
  overflow-y: visible;
  text-shadow:
  -1px -1px 0 #fff,  /* 左上の影 */
  1px -1px 0 #fff,   /* 右上の影 */
  -1px 1px 0 #fff,   /* 左下の影 */
  1px 1px 0 #fff;    /* 右下の影 */
}

.room-top-question{
  height: 100px;
  overflow-y: hidden;
  font-size:100%;
}
.room-top-question:hover {
  overflow-y: auto;
}

.room-top-answer{
  height: 70px;
  overflow-y: hidden;
  font-size:100%;
  color: silver;
}
.room-top-answer:hover {
  overflow-y: auto;
}

.room-top-study_count{
  text-align: right;
  font-weight: bold;
  padding-right: 10px;
  height: 26px;
}


.question-edit-link{
  border: solid 1px green;
  background-color: green;
  font-weight: bold;
  padding: 0 10px;
  text-align: center;
  height: 25px;
}
.question-edit-link a{
  color: white;
}

.question-delete-link{
  border: solid 1px red;
  border-radius: 0 0 5px 10px;
  background-color: red;
  font-weight: bold;
  padding: 0 10px;
  text-align: center;
  height: 25px;
}
.question-delete-link a{
  color: white;
}



/* --------------ルーム作成ページ------------------ */


.room-create-form-box{
  margin: 20px 0 0 10px;
  display: flex;
}



.room-name-form{
  width: 300px;
  border-radius: 5px;
  font-size: 130%;
}

.room-create-submit-box{
  margin-left: 10px;
}
.room-create-submit{
  border-radius: 5px;
  font-size: 130%;
  cursor:pointer;
}